html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
*{
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.myMenu{
    box-shadow: 1px 1px 4px 0 #3f51b561;
}
.my-btn{
    background: #ffffff;
    border: 1px solid #2000ffa8;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 2px #0000000f;width: 122px;
    height: 30px;
    text-align: center;
    color: #2200ffa8;
    margin: 10px auto auto;
    transition: 0.2s ease-in;
}

.my-btn:hover{
    background: #2000ffa8;
    color: #FFFFFF;
    cursor: pointer;
}
.my{
    color: #2000ffa8;
    font-weight: bold;
}
.legal{
    color: white;
}
.card:hover{
    box-shadow: 1px 1px 4px 0 rgba(63, 81, 181, 0.58);
    border: 1px solid rgba(63, 81, 181, 0.7);
}
.my-card{
    min-width: 200px;
}
/*--------------------------LOGIN--------------------------*/
.page{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(120deg,#3498db, #8e44ad);
}
.login-form{
    width: 360px;
    height: 580px;
    padding: 80px 40px;
    background: #f1f1f1;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login-form h1{
    text-align: center;
    margin-top: 60px;
}
.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
    width: 100%;
}
.txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 0px;
    height: 40px;
}
.txtb span::before{
    content: attr(data-placeholder);
    position: absolute;
    left: 0;
    top: 50%;
    color: #adadad;
    z-index: -1;
    transition: .5s;
}
.txtb span::after{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg,#3498db, #8e44ad);
    transition: .5s;
}
.focus + span::before{
    top: -5px;
}
.focus + span::after{
    width: 100%;
}
.logbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background-image: linear-gradient(120deg,#3498db, #8e44ad,#3498db);
    background-size: 100%;
    color: #fff3cd;
    outline: none;
    cursor: pointer;
    transition: .5s;
}
.logbtn:hover{
    background-image: linear-gradient(120deg, #8e44ad,#3498db, #8e44ad);
}
.bottom-text{
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
}
/*--------------------------END LOGIN-----------------------*/
/*--------------------------Sing In------------------------*/
.signIn-form{
    width: 360px;
    height: auto;
    padding: 80px 40px;
    background: #f1f1f1;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 70px;
    transform: translate(-50%,-50%);
}
/*--------------------------END Sing In-------------------*/
/*--------------------------Traitement-------------------*/
.section{
    height: 100vh;
    margin-top: 50px;
    line-height: 500px;
    text-align: center;
}
.loader{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.loader-bars:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 10px;
    height: 30px;
    background: #747474;
    -webkit-animation: grow 2.5s linear infinite;
    -o-animation: grow 2.5s linear infinite;
    animation: grow 2.5s linear infinite;
}
.loader-bars:after{
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    right: 0;
    top: 0;
    width: 10px;
    height: 30px;
    background: #747474;
    -webkit-animation: grow 2.5s linear -.5s infinite;
    -o-animation: grow 2.5s linear -.5s infinite;
    animation: grow 2.5s linear -.5s infinite;
}
.loader-bars span:first-child{
    content: '';
    display: block;
    position: absolute;
    left: 30px;
    right: 0;
    top: 0;
    width: 10px;
    height: 30px;
    background: #747474;
    -webkit-animation: grow 2.5s linear -1s infinite;
    -o-animation: grow 2.5s linear -1s infinite;
    animation: grow 2.5s linear -1s infinite;
}
.loader-bars span:nth-child(2){
    content: '';
    display: block;
    position: absolute;
    left: 45px;
    right: 0;
    top: 0;
    width: 10px;
    height: 30px;
    background: #747474;
    -webkit-animation: grow 2.5s linear -1.5s infinite;
    -o-animation: grow 2.5s linear -1.5s infinite;
    animation: grow 2.5s linear -1.5s infinite;
}
.loader-bars span:nth-child(3){
    content: '';
    display: block;
    position: absolute;
    left: 60px;
    right: 0;
    top: 0;
    width: 10px;
    height: 30px;
    background: #747474;
    -webkit-animation: grow 2.5s linear -2s infinite;
    -o-animation: grow 2.5s linear -2s infinite;
    animation: grow 2.5s linear -2s infinite;
}
@keyframes grow {
    0%{
        transform: scaleY(0);
        opacity: 0;
    }
    50%{
        transform: scaleY(1);
        opacity: 1;
    }
    100%{
        transform: scaleY(0);
        opacity: 0;
    }
    
}

/*.loader-quart{*/
    /*border-radius: 50px;*/
    /*border: 6px solid rgba(255,255,255,0.4);*/
/*}*/
/*.loader-quart:after{*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: -6px;*/
    /*left: -6px;*/
    /*right: -6px;*/
    /*bottom: -6px;*/
    /*border: 6px solid transparent;*/
    /*border-radius: 50px;*/
    /*border-top-color: #FFFFFF;*/
    /*-webkit-animation: spin 1s linear infinite;*/
    /*-o-animation: spin 1s linear infinite;*/
    /*animation: spin 1s linear infinite;*/
/*}*/

/*@keyframes spin {*/
    /*0%{*/
        /*transform: rotate(0deg);*/
    /*}*/
    /*100%{*/
        /*transform: rotate(360deg);*/
    /*}*/
/*}*/


/*--------------------------END Traitement-------------------*/